body {
    margin: 0;
    min-height: 100vh;
    background: #050505;
    color: #F0F0F0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text {
    align-items: flex-start;
    padding-top: 10vh;
}

pre {
    font-family: "unifont", "Lucida Console", monospace, Monaco;
    font-size: 18px;
    line-height: 1;
    text-align: left;
    display: inline-block;
    width: max-content;
    margin: 0;
}

a {
    color: #B8B8B8;
    text-decoration: none;
}

a:hover {
    color: #F0F0F0;
}

.back-link {
    color: #8181ff;
    text-decoration: underline;
}

.back-link:hover {
    color: #b0b0ff;
}

.text-link {
    color: #9eff81;
    text-decoration: underline;
}

.text-link:hover {
    color: #c4ffb2;
}

@font-face {
    font-family: "unifont";
    src: url("../fonts/unifont.woff2") format("woff");
}